---
---

.img-about {
  width: 240px;
}

body {
    height: 100%;
    background-image: url("{{site.staticurl}}images/background.svg");
    /*background-repeat-x: no-repeat;
    background-repeat-y: repeat;*/
    background-attachment: fixed;
    background-size: cover;
}

.hidden-e {
  unicode-bidi: bidi-override; direction: rtl;
}

.hidden-e span { display: none; }

.addspacer100 {
  margin-bottom: 100px;
}

.addspacer50 {
  margin-bottom: 50px;
}

.img-reflect {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.4)));
}

.main {
  margin-bottom: 2rem;
}

.post-background {
    padding-left: 15px;
    padding-top: 1px;
    padding-right: 15px;
}

.btn-split-nav {
  text-shadow: 0 1px 0 #4e5d6c;
  background-repeat: repeat-x;
  border-color: #4e5d6c;
  background-color: #4e5d6c;
}

.st-background {
  background-color: rgba(78,93,108,0.25);
  border-radius: 6px;
}